	<!-- Footer -->
<footer class="footer text-muted">
	<div class="container">
		<div class="align-items-center">
			<div class="btn-group">
				<a href="https://discord.gg/WcuNPM9" target="_blank">
					<span class="footer-links" data-toggle="tooltip" data-placement="top" title="Дискорд сервер Чёрный исход, домик Нейры.">
						<i class="fab fa-discord"></i>
					</span>
				</a>
				<a href="https://vk.com/failsafe_bot" target="_blank">
					<span class="footer-links" data-toggle="tooltip" data-placement="top" title="Сообщество ВКонтакте">
						<i class="fab fa-vk"></i>
					</span>
				</a>
			</div>
			<br />
			<span class="copyright">&copy; 2018-@DateTime.Now.Year - Разработано <a href="https://github.com/Cyber-Garret">Cyber_Garret</a></span>
		</div>
	</div>
</footer>