<div id="accordion">
	<!--Clan Command-->
	<div class="card">
		<div class="card-header" id="Clan">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!клан
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClan" aria-expanded="false" aria-controls="collapseClan">Подробней</button>
			</h6>
		</div>
		<div id="collapseClan" class="collapse" aria-labelledby="Clan" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Информационная справка о доступных командах администраторам Discord сервера.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота: </span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span> <span class="badge badge-primary">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!клан</p>
					<img src="~/img/commands/clan_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Clan Info Command-->
	<div class="card">
		<div class="card-header" id="clanInfo">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!клан инфо
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanInfo" aria-expanded="false" aria-controls="collapseClanInfo">Подробней</button>
			</h6>
		</div>
		<div id="collapseClanInfo" class="collapse" aria-labelledby="clanInfo" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Отображает индивидуальные настройки Нейроматрицы в Discord сервере где была вызвана комманда.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота: </span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!клан инфо</p>
					<img src="~/img/commands/clan_info_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Clan News Command-->
	<div class="card">
		<div class="card-header" id="clanNews">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!клан новости
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanNews" aria-expanded="false" aria-controls="collapseClanNews">Подробней</button>
			</h6>
		</div>
		<div id="collapseClanNews" class="collapse" aria-labelledby="clanNews" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Сохраняет ID канала в котором была вызвана команда, для использования в новостных сообщениях о Зуре.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
						<span class="badge badge-success">Добавлять реакции</span>
						<span class="badge badge-success">Управлять сообщениями</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!клан новости</p>
					<img src="~/img/commands/clan_news_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--News status Command-->
	<div class="card">
		<div class="card-header" id="newsStatus">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!новости статус
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNewsStatus" aria-expanded="false" aria-controls="collapseNewsStatus">Подробней</button>
			</h6>
		</div>
		<div id="collapseNewsStatus" class="collapse" aria-labelledby="newsStatus" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p>
						<span class="font-weight-bold">Описание: </span>Включает или выключает новость о прибытии Зур-а в зависимости от выбора.
					</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
						<span class="badge badge-success">Добавлять реакции</span>
						<span class="badge badge-success">Управлять сообщениями</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!новости статус</p>
					<img src="~/img/commands/news_status_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Clan Logs Command-->
	<div class="card">
		<div class="card-header" id="clanLogs">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!клан логи
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanLogs" aria-expanded="false" aria-controls="collapseClanLogs">Подробней</button>
			</h6>
		</div>
		<div id="collapseClanLogs" class="collapse" aria-labelledby="clanLogs" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Сохраняет ID канала в котором была вызвана команда, для использования в технических сообщениях.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
						<span class="badge badge-success">Добавлять реакции</span>
						<span class="badge badge-success">Управлять сообщениями</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!клан логи</p>
					<img src="~/img/commands/clan_logs_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Logs status Command-->
	<div class="card">
		<div class="card-header" id="logsStatus">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!логи статус
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLogsStatus" aria-expanded="false" aria-controls="collapseLogsStatus">Подробней</button>
			</h6>
		</div>
		<div id="collapseLogsStatus" class="collapse" aria-labelledby="logsStatus" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Включает или выключает технические сообщения в зависимости от выбора.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
						<span class="badge badge-success">Добавлять реакции</span>
						<span class="badge badge-success">Управлять сообщениями</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!логи статус</p>
					<img src="~/img/commands/logs_status_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Welcome Preview Command-->
	<div class="card">
		<div class="card-header" id="welcomePreview">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!посмотреть приветствие
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWelcomePreview" aria-expanded="false" aria-controls="collapseWelcomePreview">Подробней</button>
			</h6>
		</div>
		<div id="collapseWelcomePreview" class="collapse" aria-labelledby="welcomePreview" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p>
						<span class="font-weight-bold">Описание: </span>Выводит сохраненное приветственное сообщение сервера для всех новоприбывших.<br />
						<span class="font-weight-bold">Поддерживает синтаксис MarkDown который использует Discord и любые Emoji.</span>
					</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!посмотреть приветствие</p>
					<img src="~/img/commands/welcome_preview_example.png" style="max-width:680px;" />
				</div>
			</div>
		</div>
	</div>
	<!--Save Welcome Command-->
	<div class="card">
		<div class="card-header" id="saveWelcome">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!сохранить приветствие
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSaveWelcome" aria-expanded="false" aria-controls="collapseSaveWelcome">Подробней</button>
			</h6>
		</div>
		<div id="collapseSaveWelcome" class="collapse" aria-labelledby="saveWelcome" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p>
						<span class="font-weight-bold">Описание: </span>Сохраняет уникальное сообщение для отправки всем кто пришел на сервер Discord.<br />
						<span class="font-weight-bold">Поддерживает сохранение синтаксиса MarkDown который использует Discord и любые Emoji.</span>
					</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!сохранить приветствие</p>
					<img src="~/img/commands/welcome_save_example.png" style="max-width:680px;" />
				</div>
			</div>
		</div>
	</div>
	<!--AutoRole Command-->
	<div class="card">
		<div class="card-header" id="autoRole">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!автороль
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAutoRole" aria-expanded="false" aria-controls="collapseAutoRole">Подробней</button>
			</h6>
		</div>
		<div id="collapseAutoRole" class="collapse" aria-labelledby="autoRole" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p>
						<span class="font-weight-bold">Описание: </span>Сохраняет ID роли, которую Нейроматрица будет выдавать всем новым пользователям, пришедшим на сервер.<br />
						<span class="font-weight-bold">Важно! Роль Нейроматрицы должна быть над ролью, которую она будет автоматически выдавать. Имеется ввиду в списке Ваш сервер-> Настройки сервера-> Роли.</span>
					</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
						<span class="badge badge-success">Управлять ролями</span>
					</p>
					<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!автороль (Роль)</p>
					<img src="~/img/commands/autorole_example.png" style="max-width:680px;" />
				</div>
			</div>
		</div>
	</div>
</div>