<div id="accordion">
	<!--Help Command-->
	<div class="card">
		<div class="card-header" id="help">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!справка
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">Подробней</button>
			</h6>
		</div>
		<div id="collapseHelp" class="collapse" aria-labelledby="help" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Основная справочная команда.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота: </span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!справка</p>
					<img src="~/img/commands/help_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Xur Command-->
	<div class="card">
		<div class="card-header" id="xur">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!зур
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseXur" aria-expanded="false" aria-controls="collapseXur">Подробней</button>
			</h6>
		</div>
		<div id="collapseXur" class="collapse" aria-labelledby="xur" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Отвечает в данный момент Зур в системе или нет, если да, то отображает ссылки на сторонние ресурсы с его расположением и ассортиментом.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!зур</p>
					<img src="~/img/commands/xur_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Info Command-->
	<div class="card">
		<div class="card-header" id="info">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!инфо
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">Подробней</button>
			</h6>
		</div>
		<div id="collapseInfo" class="collapse" aria-labelledby="info" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Отображает <a href="~/Gears">информацию</a> о экзотическом снаряжении. Ищет как по полному названию, так и частичному.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!инфо (Название)</p>
					<img src="~/img/commands/info_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Catalyst Command-->
	<div class="card">
		<div class="card-header" id="catalyst">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!катализатор
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCatalyst" aria-expanded="false" aria-controls="collapseCatalyst">Подробней</button>
			</h6>
		</div>
		<div id="collapseCatalyst" class="collapse" aria-labelledby="catalyst" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Отображает информацию о катализаторах для оружия. Все катализаторы можно посмотреть <a href="~/Catalysts">тут</a>.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!катализатор</p>
					<img src="~/img/commands/catalyst_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Clan Status Command-->
	<div class="card">
		<div class="card-header" id="clanStatus">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!клан статус
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanStatus" aria-expanded="false" aria-controls="collapseClanStatus">Подробней</button>
			</h6>
		</div>
		<div id="collapseClanStatus" class="collapse" aria-labelledby="clanStatus" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Отображает отсортированный онлайн Destiny 2 клана. Со страницы <a href="~/Clan">Кланы</a>.</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!клан статус (ID клана)</p>
					<img src="~/img/commands/clan_status_example.png" />
				</div>
			</div>
		</div>
	</div>
	<!--Donate Command-->
	<div class="card">
		<div class="card-header" id="donate">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!респект
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDonate" aria-expanded="false" aria-controls="collapseDonate">Подробней</button>
			</h6>
		</div>
		<div id="collapseDonate" class="collapse" aria-labelledby="donate" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p><span class="font-weight-bold">Описание: </span>Информация о возможных способах поддержки развития бота.</p>
					<p>
						<span class="font-weight-bold">Синонимы команды:</span>
						<span class="badge badge-info">!помощь</span>
						<span class="badge badge-info">!донат</span>
					</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота:</span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
					</p>
				</div>
				<div class="col-md-8">
					<p><span class="font-weight-bold">Пример использования: </span>!респект</p>
					<img src="~/img/commands/donate_example.png" />
				</div>
			</div>
		</div>
	</div>
</div>