<div id="accordion">
	<!--Help Command-->
	<div class="card">
		<div class="card-header" id="registerRaid">
			<h6 class="mb-0">
				<i class="fas fa-info-circle"></i>
				<span class="font-weight-bold">Команда: </span>!рейд сбор
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseregisterRaid" aria-expanded="false" aria-controls="collapseregisterRaid">Подробней</button>
			</h6>
		</div>
		<div id="collapseregisterRaid" class="collapse" aria-labelledby="registerRaid" data-parent="#accordion">
			<div class="card-body row">
				<div class="col-md-4">
					<p>
						<span class="font-weight-bold">Описание: </span>Команда для анонса рейдов.<br />
						<span class="font-weight-bold">Справка по названиям: </span>Нейра отобразит справку по названиям рейдов, если вы введете его название неправильно.<br />
						<span class="font-weight-bold">Формат времени: </span>Если вы ввели правильное название рейда, а в формате времени допустили ошибку, Нейра сразу отобразит полную справку по времени.<br />
						<span class="font-weight-bold">Заметка рейд-лидера: </span>Необязательно заполнять, но так вы можете, например, дописать абсолютно все, что вам угодно.<br />
					</p>
					<p>
						<span class="font-weight-bold">Уведомления о рейде: </span>За 15 минут до начала рейда, Нейра напомнит личным сообщением с заметкой рейд-лидера.<br />
					</p>
					<p>

					</p>
					<p>
						<span class="font-weight-bold">Требуемые права для бота: </span>
						<span class="badge badge-success">Читать сообщения</span>
						<span class="badge badge-success">Отправлять сообщения</span>
						<span class="badge badge-success">Добавлять реакции</span>
						<span class="badge badge-success">Управлять сообщениями</span>
						<span class="badge badge-success">Упоминать всех</span>
					</p>
				</div>
				<div class="col-md-8">
					<p>
						<span class="font-weight-bold">Синтаксис команды: </span>!рейд сбор (Название) (Дата и время начала рейда) (Заметка рейд-лидера) <br />
						<span class="font-weight-bold">Пример использования: </span>!рейд сбор пж 20.7.19-20:00 Только для новичков
					</p>
					<img src="~/img/commands/register_raid_example.png" />
				</div>
			</div>
		</div>
	</div>
</div>