@{
	ViewData["Title"] = "Команды";
}
<div class="container background">
	<h2>Актуальные команды Нейроматрицы</h2>
	<p>
		Мы регулярно добавляем новые команды, и хотели бы узнать ваши отзывы и, возможно, идеи для команд или сайта. Пишите нам на почту, если вы хотите сообщить об ошибке, предложить команду для бота или просто рассказать нам, что вы думаете о Нейроматрице.
	</p>
	<p>
		Префикс команд <span class="text-danger">!</span> (восклицательный знак).
	</p>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#basic">Основные</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#special">Ограниченные</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active container-fluid" id="basic">
			<h3>Основные команды</h3>
			<p>Базовые команды доступны любому пользователю без ограничений.</p>
			<!--Main Tab-->
			<div id="accordion">
				<!--Help Command-->
				<div class="card">
					<div class="card-header" id="help">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!справка
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">Подробней</button>
						</h6>
					</div>
					<div id="collapseHelp" class="collapse" aria-labelledby="help" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Основная справочная команда.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота: </span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!справка</p>
								<img src="~/img/commands/help_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Xur Command-->
				<div class="card">
					<div class="card-header" id="xur">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!зур
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseXur" aria-expanded="false" aria-controls="collapseXur">Подробней</button>
						</h6>
					</div>
					<div id="collapseXur" class="collapse" aria-labelledby="xur" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Отвечает в данный момент Зур в системе или нет, если да, то отображает ссылки на сторонние ресурсы с его расположением и ассортиментом.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!зур</p>
								<img src="~/img/commands/xur_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Info Command-->
				<div class="card">
					<div class="card-header" id="info">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!инфо
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">Подробней</button>
						</h6>
					</div>
					<div id="collapseInfo" class="collapse" aria-labelledby="info" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Отображает <a href="~/Gears">информацию</a> о экзотическом снаряжении. Ищет как по полному названию, так и частичному.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!инфо (Название)</p>
								<img src="~/img/commands/info_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Catalyst Command-->
				<div class="card">
					<div class="card-header" id="catalyst">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!катализатор
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCatalyst" aria-expanded="false" aria-controls="collapseCatalyst">Подробней</button>
						</h6>
					</div>
					<div id="collapseCatalyst" class="collapse" aria-labelledby="catalyst" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Отображает информацию о катализаторах для оружия. Все катализаторы можно посмотреть <a href="~/Catalysts">тут</a>.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
									<span class="badge badge-success">Добавлять реакции</span>
									<span class="badge badge-success">Управлять сообщениями</span>
								</p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!катализатор</p>
								<img src="~/img/commands/catalyst_example.gif" />
							</div>
						</div>
					</div>
				</div>
				<!--Clan Status Command-->
				<div class="card">
					<div class="card-header" id="clanStatus">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!клан статус
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanStatus" aria-expanded="false" aria-controls="collapseClanStatus">Подробней</button>
						</h6>
					</div>
					<div id="collapseClanStatus" class="collapse" aria-labelledby="clanStatus" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Отображает отсортированный онлайн Destiny 2 клана. Со страницы <a href="~/Clan">Кланы</a>.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!клан статус (ID клана)</p>
								<img src="~/img/commands/clan_status_example.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane container-fluid" id="special">
			<h3>Особые команды</h3>
			<p>Данные команды требуют особых прав на Discord сервере.</p>
			<!--Special Tab-->
			<div id="accordion">
				<!--Clan Command-->
				<div class="card">
					<div class="card-header" id="Clan">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!клан
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClan" aria-expanded="false" aria-controls="collapseClan">Подробней</button>
						</h6>
					</div>
					<div id="collapseClan" class="collapse" aria-labelledby="Clan" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Информационная справка о доступных командах администраторам Discord сервера.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота: </span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span> <span class="badge badge-primary">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!клан</p>
								<img src="~/img/commands/clan_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Clan Info Command-->
				<div class="card">
					<div class="card-header" id="clanInfo">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!клан инфо
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanInfo" aria-expanded="false" aria-controls="collapseClanInfo">Подробней</button>
						</h6>
					</div>
					<div id="collapseClanInfo" class="collapse" aria-labelledby="clanInfo" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Отображает индивидуальные настройки Нейроматрицы в Discord сервере где была вызвана комманда.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота: </span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!клан инфо</p>
								<img src="~/img/commands/clan_info_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Clan News Command-->
				<div class="card">
					<div class="card-header" id="clanNews">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!клан новости
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanNews" aria-expanded="false" aria-controls="collapseClanNews">Подробней</button>
						</h6>
					</div>
					<div id="collapseClanNews" class="collapse" aria-labelledby="clanNews" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Сохраняет ID канала в котором была вызвана команда, для использования в новостных сообщениях о Зуре.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
									<span class="badge badge-success">Добавлять реакции</span>
									<span class="badge badge-success">Управлять сообщениями</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!клан новости</p>
								<img src="~/img/commands/clan_news_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--News status Command-->
				<div class="card">
					<div class="card-header" id="newsStatus">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!новости статус
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNewsStatus" aria-expanded="false" aria-controls="collapseNewsStatus">Подробней</button>
						</h6>
					</div>
					<div id="collapseNewsStatus" class="collapse" aria-labelledby="newsStatus" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p>
									<span class="font-weight-bold">Описание: </span>Включает или выключает новость о прибытии Зур-а в зависимости от выбора.
								</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
									<span class="badge badge-success">Добавлять реакции</span>
									<span class="badge badge-success">Управлять сообщениями</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!новости статус</p>
								<img src="~/img/commands/news_status_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Clan Logs Command-->
				<div class="card">
					<div class="card-header" id="clanLogs">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!клан логи
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClanLogs" aria-expanded="false" aria-controls="collapseClanLogs">Подробней</button>
						</h6>
					</div>
					<div id="collapseClanLogs" class="collapse" aria-labelledby="clanLogs" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Сохраняет ID канала в котором была вызвана команда, для использования в технических сообщениях.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
									<span class="badge badge-success">Добавлять реакции</span>
									<span class="badge badge-success">Управлять сообщениями</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!клан логи</p>
								<img src="~/img/commands/clan_logs_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Logs status Command-->
				<div class="card">
					<div class="card-header" id="logsStatus">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!логи статус
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLogsStatus" aria-expanded="false" aria-controls="collapseLogsStatus">Подробней</button>
						</h6>
					</div>
					<div id="collapseLogsStatus" class="collapse" aria-labelledby="logsStatus" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p><span class="font-weight-bold">Описание: </span>Включает или выключает технические сообщения в зависимости от выбора.</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
									<span class="badge badge-success">Добавлять реакции</span>
									<span class="badge badge-success">Управлять сообщениями</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!логи статус</p>
								<img src="~/img/commands/logs_status_example.png" />
							</div>
						</div>
					</div>
				</div>
				<!--Welcome Preview Command-->
				<div class="card">
					<div class="card-header" id="welcomePreview">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!посмотреть приветствие
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseWelcomePreview" aria-expanded="false" aria-controls="collapseWelcomePreview">Подробней</button>
						</h6>
					</div>
					<div id="collapseWelcomePreview" class="collapse" aria-labelledby="welcomePreview" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p>
									<span class="font-weight-bold">Описание: </span>Выводит сохраненное приветственное сообщение сервера для всех новоприбывших.<br />
									<span class="font-weight-bold">Поддерживает синтаксис MarkDown который использует Discord и любые Emoji.</span>
								</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!посмотреть приветствие</p>
								<img src="~/img/commands/welcome_preview_example.png" style="max-width:680px;" />
							</div>
						</div>
					</div>
				</div>
				<!--Save Welcome Command-->
				<div class="card">
					<div class="card-header" id="saveWelcome">
						<h6 class="mb-0">
							<i class="fas fa-info-circle"></i>
							<span class="font-weight-bold">Команда: </span>!сохранить приветствие
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSaveWelcome" aria-expanded="false" aria-controls="collapseSaveWelcome">Подробней</button>
						</h6>
					</div>
					<div id="collapseSaveWelcome" class="collapse" aria-labelledby="saveWelcome" data-parent="#accordion">
						<div class="card-body row">
							<div class="col-md-4">
								<p>
									<span class="font-weight-bold">Описание: </span>Сохраняет уникальное сообщение для отправки всем кто пришел на сервер Discord.<br />
									<span class="font-weight-bold">Поддерживает сохранение синтаксиса MarkDown который использует Discord и любые Emoji.</span>
								</p>
								<p>
									<span class="font-weight-bold">Требуемые права для бота:</span>
									<span class="badge badge-success">Читать сообщения</span>
									<span class="badge badge-success">Отправлять сообщения</span>
								</p>
								<p><span class="font-weight-bold">Требуемые права для пользователя: </span><span class="badge badge-info">Администратор</span></p>
							</div>
							<div class="col-md-8">
								<p><span class="font-weight-bold">Пример использования: </span>!сохранить приветствие</p>
								<img src="~/img/commands/welcome_save_example.png" style="max-width:680px;" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


