@{
	ViewData["Title"] = "Команды";
}
	<div id="leftcontent" class="main_view">
		<h2>Актуальные команды Нейроматрицы</h2>
		<p>Информация о командах, доступных в настоящее время для пользователей Нейроматрицы.</p>
		<div class="tab">
			<button class="tablinks" onclick="openTab(event, 'Basic')" id="defaultOpen">Основные</button>
			<button class="tablinks" onclick="openTab(event, 'Special')">Ограниченные</button>
		</div>

		<!-- Tab content -->
		<div id="Basic" class="tabcontent">
			<h3>Basic</h3>
			<p>Basic commands.</p>
			<dl>
				<dt>!справка</dt><dd>Основная справочная команда.</dd>
				<dt>!зур</dt>
				<dd>Информационная команда о посланнике девяти по имени Зур</dd>
				<dt>!инфо</dt>
				<dd>Информационная команда о экзотическом оружии и катализаторе.</dd>
			</dl>
		</div>

		<div id="Special" class="tabcontent">
			<h3>Special</h3>
			<p>Special commands.</p>
			<dl>
				<dt>!Клан</dt>
				<dd>Информационная справка о доступных командах администраторам клана.</dd>
				<dt>!Клан инфо</dt>
				<dd>Отображает все настройки Нейроматрицы в клане где была вызвана комманда.</dd>
				<dt>!Клан новости</dt>
				<dd>Сохраняет ID канала для использования в новостных сообщениях.</dd>
				<dt>!Клан логи</dt>
				<dd>Сохраняет ID канала для использования в тех сообщениях.</dd>
				<dt>!Клан статус</dt>
				<dd>Возвращает результат онлайна соклановцев заданой гильдии</dd>
				<dt>!Логи статус</dt>
				<dd>Вкл. или Выкл. тех. сообщения.</dd>
				<dt>!Новости статус</dt>
				<dd>Включает или выключает новости о зуре.</dd>
				<dt>!Посмотреть приветствие</dt>
				<dd>Команда предпросмотра приветственного сообщения</dd>
				<dt>!Сохранить приветствие</dt>
				<dd>Сохраняет сообщение для отправки всем кто пришел в гильдию.</dd>
			</dl>
		</div>
	</div>
<div id="rightcontent">
	<div class="box_one">
		<div class="box_one_title">Информация</div>
		<p>
			Мы регулярно добавляем новые команды, и хотели бы узнать ваши отзывы и, возможно, идеи для команд или сайта. Пишите нам на почту, если вы хотите сообщить об ошибке, предложить команду для бота или просто рассказать нам, что вы думаете о Нейроматрице.
		</p>
		<p>
			Префикс команд <span class="red_text">!</span> (восклицательный знак).
		</p>
	</div>
</div>


