@model LoginViewModel
@{
	Layout = "_Admin";
	ViewData["Title"] = "Admin panel";
}

@if (!User.Identity.IsAuthenticated)
{
	<h3 class="text-danger">Access denied</h3>
	<small class="text-muted">Try to login</small>
	<hr />
	<form asp-action="Index" asp-controller="Admin" asp-anti-forgery="true">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group">
			<label asp-for="UserName">Login</label>
			<input class="form-control" type="text" asp-for="UserName" />
			<span class="text-danger" asp-validation-for="UserName" />
		</div>
		<div class="form-group">
			<label asp-for="Password">Password</label>
			<input class="form-control" asp-for="Password" />
			<span class="text-danger" asp-validation-for="Password" />
		</div>
		<div class="form-group">
			<input type="submit" value="Let me in" class="btn btn-outline-primary" />
		</div>
	</form>

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}
}
else
{
	<h3 class="text-center">Admin panel</h3>
	<form class="text-center">
		<div class="form-group">
			<a class="alert-link" asp-controller="Welcome" asp-action="Index">Random welcome editor</a>
		</div>
		<div class="form-group">
			<a class="alert-link" asp-controller="Milestone" asp-action="Index">Milestone constructor</a>
		</div>
		<div class="form-group">
			<a class="alert-link" href="#">Exotic gear editor</a>
		</div>
		<div class="form-group">
			<a class="alert-link" asp-controller="Catalyst" asp-action="Index">Catalyst editor</a>
		</div>
	</form>
}