<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Нейроматрица, это дискорд бот в мире Destiny 2">
	<meta name="author" content="Cyber_Garret">

	<title>@ViewData["Title"]</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="page-top">
	<!--Navigation-->
	<header class="clanhead">
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">
					<img src="~/img/neira.png" width="30" height="30" class="d-inline-block align-top" alt="">
					На главную
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav text-uppercase ml-auto">
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link font-weight-bold" asp-area="" asp-action="Logout" asp-controller="Account">Выйти</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		@RenderBody()
	</main>

	@{await Html.RenderPartialAsync("_FooterPartial");}
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://kit.fontawesome.com/f47d5ef618.js" crossorigin="anonymous"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
