
@{
	ViewData["Title"] = "Доступ запрещен";
}

<div class="container background">
	<table>
		<tbody>
			<tr>
				<td>
					<img src="~/img/error.png" style="margin-right:1rem;"/>
				</td>
				<td>
					<h1 class="text-danger">@ViewData["Title"]</h1>
				</td>
			</tr>
		</tbody>
	</table>
</div>

