@{
	ViewData["Title"] = "Успешное изменение пароля";
}
	<div class="container background">
		<h2>@ViewData["Title"]</h2>
		<p>
			Твой пароль был успешно изменен. Теперь ты можешь войти <a asp-action="Login">нажав сюда</a>.
		</p>
	</div>