@{
	ViewData["Title"] = "Admin panel";
}
	<div class="container margin-top-5">
		@if (!User.Identity.IsAuthenticated)
		{
			<h3>Closed</h3>
			<span>@User.Identity.IsAuthenticated</span>
		}
		else
		{
			<h2>Admin panel</h2>
			<span>@User.Identity.IsAuthenticated</span>
			<a class="btn btn-info" asp-controller="Admin" asp-action="Logout">Logout</a>
		}
	</div>