@{
	ViewData["Title"] = "Admin panel";
}
<div class="container margin-top-5">
	@if (!User.Identity.IsAuthenticated)
	{
		<h3 class="text-danger">Access denied</h3>
	}
	else
	{
		<h2>Admin panel</h2>
		<span>Welcome @User.Identity.Name</span>
		<a class="btn btn-primary" asp-controller="Welcome" asp-action="Index" target="_blank">Random welcome list</a>
		<a class="btn btn-info" asp-controller="Admin" asp-action="Logout">Logout</a>
	}
</div>