@page
@model IndexModel
@{
	ViewData["Title"] = "Discord Bot Нейроматрица | дискорд бот Destiny 2";
}

<div class="text-center">
	<h1 class="display-4">Добро пожаловать.</h1>
	<p class="text-danger">В данный момент сайт находиться на реконструкции. Прошу прощения за причинённые неудобства.</p>
	<p>Бот функционирует в режиме 24\7. Когда Нейроматрица будет обновлена до версии Нейра 2.0, я обязательно обновлю сайт.</p>
	<div class="btn-group-vertical">
		<a class="nav-link btn btn-primary" asp-page-handler="AddBot" target="_blank" rel="nofollow">Добавить Нейроматрицу в дискорд</a>
		<a class="nav-link btn btn-secondary" asp-page-handler="BlackExodus" target="_blank" rel="nofollow">Посетить дискорд сервер Нейроматрицы</a>
		<a class="nav-link btn btn-primary" asp-page-handler="Docs" target="_blank" rel="nofollow">Документация</a>
		<a class="nav-link btn btn-secondary" asp-page-handler="YandexMoney" target="_blank" rel="nofollow">Поддержать проект</a>
	</div>
</div>
