@model Fuselage.Models.Milestone
<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Milestone #@Model.Id</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="card-group">
			@if (Model.MilestoneLocales.Count() > 0)
			{
				@foreach (var locale in Model.MilestoneLocales)
				{
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">@locale.Name</h5>
							<p class="card-text">Aliases: @locale.Alias</p>
							<p class="card-text"><small class="text-muted">@locale.Type</small></p>
							<a class="card-link" href="#">Edit</a>
							<a class="card-link text-danger" href="#">Delete</a>
						</div>
					</div>
				}
			}
			else
			{
				<h2>No data</h2>
			}
		</div>
	</div>
	<div class="modal-footer">
		<div class="btn-group btn-group-sm">
			<button class="btn btn-outline-primary">Add Locale</button>
		</div>
	</div>
</div>