@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model Fuselage.Models.MilestoneLocale
@{
	Layout = "_Admin";
	ViewData["Title"] = "New milestone locale";
	var requestCulture = Context.Features.Get<IRequestCultureFeature>();
	var cultureItems = LocOptions.Value.SupportedUICultures
		.Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
		.ToList();
}

<div class="container">

	<div class="text-center">
		<h3>Add locale in milestone #@Model.MilestoneId</h3>
		<img class="img-thumbnail" style="max-width:20rem;" src="@Model.Milestone.Icon" />
	</div>
	<hr />
	<form asp-action="CreateLocale">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="MilestoneId" />
		<div class="form-group">
			<label asp-for="Locale"></label>
			<select asp-for="Locale" asp-items="cultureItems"></select>
		</div>
		<div class="form-group">
			<label asp-for="Name"></label>
			<input class="form-control  form-control-sm" type="text" asp-for="Name" />
		</div>
		<div class="form-group">
			<label asp-for="Alias"></label>
			<input class="form-control  form-control-sm" type="text" asp-for="Alias" />
		</div>
		<div class="form-group">
			<label asp-for="Type"></label>
			<input class="form-control  form-control-sm" type="text" asp-for="Type" />
		</div>
		<div class="form-group">
			<input type="submit" value="Add" class="btn btn-outline-secondary" />
		</div>
	</form>

	<div class="float-right">
		<a asp-action="Index">Return to list</a>
	</div>

</div>