@model Fuselage.Models.Milestone
@{
	Layout = "_Admin";
	ViewData["Title"] = $"Edit Milestone #{Model.Id}";
}
<div class="container">

	<div class="text-center">
		<h2>@ViewData["Title"]</h2>
		<img class="img-thumbnail" style="max-height: 10rem;" src="@Model.Icon" />
	</div>
	<form asp-action="Edit">
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Icon"></label>
			<input class="form-control form-control-sm" type="text" asp-for="Icon" />
		</div>
		<div class="form-group">
			<label asp-for="MaxSpace"></label>
			<input class="form-control form-control-sm" type="number" asp-for="MaxSpace" />
		</div>
		<div class="form-group">
			<label asp-for="Type"></label>
			<select class="form-control form-control-sm" asp-for="Type" asp-items="Html.GetEnumSelectList<Fuselage.Enums.MilestoneType>()"></select>
		</div>
		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-outline-secondary" />
		</div>
	</form>
	<hr />
	<div class="float-right">
		<a asp-controller="Milestone" asp-action="Index">Return to list</a>
	</div>

</div>