@model Neiralink.Models.MilestoneInfoLocale
@{
	Layout = "_Admin";
	ViewData["Title"] = $"Edit locale";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditLocale" asp-controller="Milestone">
	<div>
		<input type="hidden" asp-for="MilestoneInfoRowID" />
		<div class="form-group">
			<label asp-for="LangKey"></label>
			<select class="form-control form-control-sm" asp-for="LangKey" asp-items="Html.GetEnumSelectList<Neiralink.Models.LangKey>()"></select>
		</div>
		<div class="form-group">
			<label asp-for="Name"></label>
			<input class="form-control form-control-sm" type="text" asp-for="Name" />
		</div>
		<div class="form-group">
			<label asp-for="Alias"></label>
			<input class="form-control form-control-sm" type="text" asp-for="Alias" />
		</div>
		<div class="form-group">
			<label asp-for="Type"></label>
			<input class="form-control form-control-sm" type="text" asp-for="Type" />
		</div>
		<div class="form-group">
			<input type="submit" value="Update in DB" class="btn btn-outline-secondary" />
		</div>
	</div>
</form>

<div class="float-right">
	<a asp-controller="Milestone" asp-action="Edit" asp-route-id="@Model.MilestoneInfoRowID">Return to milestone</a>
</div>