<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Нейроматрица, это дискорд бот в мире Destiny 2">
	<meta name="author" content="Cyber_Garret">

	<title>@ViewData["Title"]</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css"/>
</head>
<body id="page-top">

	@RenderBody()

	<!-- Footer -->
	<footer class="footer text-muted">
		<div class="container">
			<div class="align-items-center">
				<span class="copyright">&copy; 2018-@DateTime.Now.Year - Разработано <a href="https://github.com/Cyber-Garret">Cyber_Garret</a></span>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
