// Styling for the masthead
section.masthead {
	text-align: center;
	color: white;
	background-image: url('../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	max-height: 50rem;

	.intro-text {
		padding-top: 150px;
		padding-bottom: 100px;

		.intro-lead-in {
			font-size: 22px;
			font-style: italic;
			line-height: 22px;
			margin-bottom: 25px;
			@include serif-font;
		}

		.intro-heading {
			font-size: 2.5rem;
			font-weight: 700;
			line-height: 50px;
			margin-bottom: 25px;
		}
		.title-font{
			@include title-font;
		}
	}
}

section.serverhead {
	text-align: center;
	color: white;
	background-image: url('../img/header-bg-servers.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	max-height: 30rem;

	.intro-text {
		padding-top: 150px;
		padding-bottom: 100px;

		.intro-heading {
			font-size: 2.5rem;
			font-weight: 700;
			text-shadow: 0.25rem 0.25rem 0.25rem #000000;
			line-height: 50px;
			margin-bottom: 25px;
		}

		.title-font {
			@include title-font;
		}
	}
}

@media(min-width:768px) {
	section.masthead {
		.intro-text {
			padding-top: 300px;
			padding-bottom: 200px;

			.intro-lead-in {
				font-size: 40px;
				font-style: italic;
				line-height: 40px;
				margin-bottom: 25px;
				@include serif-font;
			}

			.intro-heading {
				font-size: 5rem;
				font-weight: 700;
				line-height: 75px;
				margin-bottom: 50px;
			}

			.title-font {
				@include title-font;
			}
		}
	}
}
