	<!-- Footer -->
<footer class="footer text-muted">
	<div class="container">
		<div class="align-items-center">
			<div class="btn-group">
				<a asp-controller="Home" asp-action="BlackExodus" rel="nofollow" target="_blank">
					<span class="footer-links" data-toggle="tooltip" data-placement="top" title="Дискорд сервер Чёрный исход, домик Нейры.">
						<i class="fab fa-discord"></i>
					</span>
				</a>
			</div>
			<br />
			<span class="copyright">&copy; 2018-@DateTime.Now.Year - Разработано <a asp-controller="Home" asp-action="Github" rel="nofollow" target="_blank">Cyber_Garret</a></span>
		</div>
	</div>
</footer>