@font-face {
	font-family: "Fyodor-Bold";
	src: url(../fonts/Fyodor-Bold.woff);
}

@font-face {
	font-family: "Fyodor-BoldCondensed";
	src: url(../fonts/Fyodor-BoldCondensed.woff);
}

@font-face {
	font-family: "Fyodor-BoldCondensedOblique";
	src: url(../fonts/Fyodor-BoldCondensedOblique.woff);
}

@font-face {
	font-family: "Fyodor-BoldExpanded";
	src: url(../fonts/Fyodor-BoldExpanded.woff);
}

@font-face {
	font-family: "Fyodor-BoldExpandedOblique";
	src: url(../fonts/Fyodor-BoldExpandedOblique.woff);
}

@font-face {
	font-family: "Fyodor-BoldOblique";
	src: url(../fonts/Fyodor-BoldOblique.woff);
}
