@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">Нейроматрица</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Меню
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#stat">Статистика</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://docs.neira.su/" target="_blank">Документация</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#donate">Поддержите нас</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- Header -->
<header class="masthead">
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in text-dark">Страж, тебя приветствует</div>
			<div class="intro-heading text-dark text-uppercase">Нейроматрица</div>
			<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#stat">Подробней</a>
		</div>
	</div>
</header>

<!-- Stat -->
<section class="page-section" id="stat">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Статистика бота</h2>
				<h3 class="section-subheading text-muted">Наши достижения.</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<i class="fas fa-globe-europe" style="font-size:6rem;"></i>
				<h2>Сообществ</h2>
				<h1>@Model.BotInfo.Servers</h1>
			</div>
			<div class="col-md-4">
				<i class="fas fa-users" style="font-size:6rem;"></i>
				<h2>Пользователей</h2>
				<h1>@Model.BotInfo.Users</h1>
			</div>
			<div class="col-md-4">
				<i class="fas fa-clipboard-check" style="font-size:6rem;"></i>
				<h2>Cобрано рейдов</h2>
				<h1>@Model.BotInfo.Milestones</h1>
			</div>
		</div>
	</div>
</section>

<!-- Features Grid -->
<section class="bg-light page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Мои возможности</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/img/features/1.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>2009-2011</h4>
								<h4 class="subheading">Our Humble Beginnings</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/img/features/2.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>March 2011</h4>
								<h4 class="subheading">An Agency is Born</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/img/features/3.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>December 2012</h4>
								<h4 class="subheading">Transition to Full Service</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/img/features/4.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>July 2014</h4>
								<h4 class="subheading">Phase Two Expansion</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<h4>
								Погрузись
								<br>В нашу
								<br>Сеть!
							</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- About -->
<section class=" page-section" id="donate">

	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Поддержите Нейроматрицу!</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
		</div>
	</div>
</section>