
@{
	ViewData["Title"] = "О проекте";
}
<div class="container background">
	<h1>@ViewData["Title"]</h1>
	<p>
		Нейроматрица является эффективным помощником в управлении и внутренней организации клана. Этот бот способен отследить и отобразить в логах всю важную информацию о малейших изменениях в составе клана.
	</p>
	<h4>Что умеет бот Нейроматрица?</h4>
	<ol>
		<li>Сообщать в любой заданный вами канал о прибытии и уходе Зур-а.</li>
		<li>Сообщать в любой заданный вами канал о создании или удалении текстового канала.</li>
		<li>Сообщать, если кто-то на сервере изменил имя, получил или потерял роль.</li>
		<li>Сообщать, если кто-то отредактировал или удалил любое текстовое сообщение.</li>
		<li>Сообщать, если кто-то создал или удалил новую роль на сервере.</li>
		<li>Отображать информацию об экзотическом оружии и катализаторах.</li>
		<li>Присылать приветственное сообщение всем, кто зашел на ваш сервер. В том случае, если вы его напишете =).</li>
		<li>Сообщать, если пользователь покинул ваш сервер или его кто-то кикнул.</li>
	</ol>
	<p>
		P.S.<br />
		Еще больше возможностей бота на подходе.<br />
		Посмотреть о будущих обновления вы можете нажав <a asp-area="" asp-controller="Home" asp-action="Trello">тут</a>.
	</p>
</div>

