
@{
	ViewData["Title"] = "О проекте";
}
<div class="container">
	<h1>@ViewData["Title"]</h1>
	<h4>Что умеет бот Нейроматрица?</h4>
	<p>
		<ol>
			<li>Сообщать в любой заданый вами канал о прибытии и уходе Зур-а.</li>
			<li>Сообщать в любой заданый вами канал о создании или удалении текстового канала,</li>
			<li>Сообщать если кто либо на сервере изменил имя, получил или потерял роль.</li>
			<li>Сообщать если кто-то отредактировал или удалил любое текстовое сообщение.</li>
			<li>Сообщать если кто-то создал или удалил новую роль на сервере.</li>
			<li>Присылать приветственное сообщение всем кто зашел на ваш сервер. В том случае если вы его напишите =)</li>
			<li>Сообщать если пользователь покинул ваш сервер или его кто-то кикнул.</li>
		</ol>
	</p>
</div>

