
@{
	ViewData["Title"] = "Donate";
}

<div class="container background">
	<style>
		@@import url("//portal.fondy.eu/mportal/static/css/button.css");
	</style>
	<p>
		<a href="https://api.fondy.eu/s/uESGhQO3SdF" target="_blank" data-button="" class="f-p-b" style="--fpb-background:#dfdfdf; --fpb-color:#000000; --fpb-border-color:#000000; --fpb-border-width:1px; --fpb-font-weight:400; --fpb-font-size:16px; --fpb-border-radius:5px;">
			<i data-text="name">Единоразово помочь проекту в</i>
			<i data-text="amount"> RUB</i>
		</a>
	</p>
	<p>
		<a href="https://api.fondy.eu/s/jWpT0I9X7" target="_blank" data-button="" class="f-p-b" style="--fpb-background:#dfdfdf; --fpb-color:#000000; --fpb-border-color:#000000; --fpb-border-width:1px; --fpb-font-weight:400; --fpb-font-size:16px; --fpb-border-radius:5px;">
			<i data-text="name">Оформить подписку на развитие проекта в</i>
			<i data-text="amount"> RUB</i>
		</a>
	</p>
</div>

