@{
	ViewData["Title"] = "Главная";
}

<div class="main_view_centered">
	<h1>Добро пожаловать, страж!</h1>
	<img src="https://www.bungie.net/common/destiny2_content/icons/2e233b3de01ae021854344968c7b27fa.jpg" />
	<h3>Нейроматрица</h3>
	<h4>ИИ "Черного исхода" адаптированный для <span class="blued_text">Discord</span></h4>
	<p>
		Нейроматрица это Bot, который дает возможность c наибольшим удобством управлять сервером Discord и предоставляет некоторую информацию из всевозможных игровых API.
	</p>
	<input type="button" value="Добавить меня на твой сервер" />

</div>
