@{
	ViewData["Title"] = "Главная";
}
<div class="container background">
	<h1 style="text-align:center; margin-bottom:2rem;">Добро пожаловать, страж!</h1>
	<img src="~/img/Neira_avatar.jpg" class="float-right" />
	<h4> Меня зовут Нейроматрица, я ИИ "Черного исхода" адаптированный для <span class="text-info">Discord</span></h4>
	<p>
		<a asp-area="" asp-controller="Home" asp-action="Join_Me" class="btn btn-info" rel="nofollow" target="_blank">Присоединиться к моему серверу</a>
		<a asp-area="" asp-controller="Home" asp-action="Add_Me" class="btn btn-success" rel="nofollow" target="_blank">Добавить меня на твой сервер</a>
	</p>
	<p>
		Нейроматрица это Bot, который дает возможность c наибольшим удобством управлять сервером Discord и предоставляет некоторую информацию из всевозможных игровых API.<br />
	</p>
</div>