@{
	ViewData["Title"] = "Главная";
}
<div class="container">
	<h1 style="text-align:center; margin-bottom:2rem;">Добро пожаловать, страж!</h1>
	<img src="https://www.bungie.net/common/destiny2_content/icons/2e233b3de01ae021854344968c7b27fa.jpg" class="float-right" />
	<h4> Я Нейроматрица ИИ "Черного исхода" адаптированный для <span class="text-info">Discord</span></h4>
	<p>
		Нейроматрица это Bot, который дает возможность c наибольшим удобством управлять сервером Discord и предоставляет некоторую информацию из всевозможных игровых API.<br />
		<button type="button" class="btn btn-success">Добавить меня на твой сервер</button>
	</p>
</div>