@{
	ViewData["Title"] = "Главная";
}
<div class="container">
	<h1 style="text-align:center; margin-bottom:2rem;">Добро пожаловать, страж!</h1>
	<img src="~/img/Neira_avatar.jpg" class="float-right" />
	<h4> Меня зовут Нейроматрица, я ИИ "Черного исхода" адаптированный для <span class="text-info">Discord</span></h4>
	<p>
		Нейроматрица это Bot, который дает возможность c наибольшим удобством управлять сервером Discord и предоставляет некоторую информацию из всевозможных игровых API.<br />
	</p>
	<a class="btn btn-success text-light">Добавить меня на твой сервер</a>
</div>