@{
	ViewData["Title"] = "Главная";
}

<div class="main_view_centered">
	<h1>Добро пожаловать, страж!</h1>
	<h3>Нейроматрица</h3>
	<h4>ИИ "Черного исхода" адаптированный для <span class="blued_text">Discord</span></h4>
	<p>
		Нейроматрица это Bot, который дает возможность более удобно управлять сервером Discord и предоставляет некоторую информацию из всевозможных игровых API.
	</p>
	<input type="button" value="Добавить меня на твой сервер" />

</div>
