@{
	ViewData["Title"] = "Политика конфиденциальности";
}
<div class="container">
	<h1>@ViewData["Title"]</h1>
	<p>Страница в стадии наполнения, но самое главное, что мы сообщаем с уверенностью. Мы не собираем никакие личные данные. </p>
</div>
