@model IndexViewModel
@{
	ViewData["Title"] = "Home Page";
}

<ul class="list-unstyled">
	@foreach (var weapon in Model.Weapons)
	{
		<li class="media border border-primary" style="padding:1rem;margin:1rem;">
			<img src="@weapon.Icon" class="align-self-start mr-3 rounded-lg" style="max-height:64px;" alt="@weapon.Name">
			<div class="media-body">
				<h5 class="mt-0">@weapon</h5>
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					Perks <span class="badge badge-light">@weapon.Perks.Count()</span>
				</button>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					</div>
				</div>
			</div>
		</li>
	}
</ul>