@model Core.Models.Db.Catalyst

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Catalyst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WeaponName" class="control-label"></label>
                <input asp-for="WeaponName" class="form-control" />
                <span asp-validation-for="WeaponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropLocation" class="control-label"></label>
                <input asp-for="DropLocation" class="form-control" />
                <span asp-validation-for="DropLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quest" class="control-label"></label>
                <input asp-for="Quest" class="form-control" />
                <span asp-validation-for="Quest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterwork" class="control-label"></label>
                <input asp-for="Masterwork" class="form-control" />
                <span asp-validation-for="Masterwork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
