// Font Mixins
@mixin serif-font {
	font-family: Fyodor-Bold;
}

@mixin script-font {
	font-family: Fyodor-Bold;
}

@mixin body-font {
	font-family: Fyodor-Bold;
}

@mixin heading-font {
	font-family: Fyodor-Bold;
}
