@using ChartJSCore.Models;
@{
	ViewData["Title"] = "Адские Гончие | Discord Statistic";
	Layout = "~/Views/Shared/Layouts/_ClanLayout.cshtml";
	Chart barChart = (Chart)ViewData["LineChart"];
}
<div class="container text-center">
	<h1>Стастистика дискорд сервера Адские Гончие</h1>
	<canvas id="lineChart"></canvas>

	@section Scripts {
		<script src="~/lib/Chart.js/Chart.js"></script>
		<script>
        @Html.Raw(barChart.CreateChartCode("lineChart"));
		</script>
	}
</div>